#mision_vision {
  padding-top: 50px; }

#boton_contactar_nosotros {
  margin-bottom: 15px; }

#boton_contactar_planes {
  margin-bottom: 15px; }

#seccion_servicios_principal {
  padding-bottom: 20px; }

#servicios_diferenciados {
  padding-top: 50px; }

#estrategia_global_section {
  padding-top: 10px; }

#decision {
  padding-top: 60px;
  padding-bottom: 60px; }

#titulo_nosotros {
  color: darkblue; }
  #titulo_nosotros:hover {
    color: aqua; }

#titulo_mision_nosotros {
  color: darkmagenta; }

#titulo_vision_nosotros {
  color: darkorchid; }

#mision_vision p {
  color: #00008B;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  #mision_vision p:hover {
    color: blueviolet; }

.contacto_pagina h2 {
  color: blue;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800; }

#texto_de_banner {
  color: black; }

.titulo_de_cada_seccion_home {
  color: blue; }

.titulo_secciones_web_similares, #conversemos h2 {
  color: #0583f6;
  height: 50px;
  line-height: 20px;
  text-align: left; }

.footer_home {
  padding-top: 50px;
  margin-top: 50px;
  background-image: radial-gradient(circle at 50% -20.71%, #be5af5 0, #a04ff4 16.67%, #7944f3 33.33%, #3c3cf2 50%, #0037f1 66.67%, #0034ef 83.33%, #0034ee 100%);
  color: white;
  font-weight: 800;
  padding-bottom: 50px; }

.iconos_de_redes_footer {
  padding-top: 20px; }

.titulo_de_blog_post {
  color: #00008B;
  padding-top: 10px; }

/* Sitio web a pasar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 1px;
  align-content: center;
  background-color: #fff; }

#menu_principal {
  display: absolute;
  position: relative; }

#menu_principal a {
  text-decoration: none;
  padding: 5px;
  margin: 3px;
  border: 3px;
  list-style: none;
  color: black; }

#whatsapp {
  display: absolute;
  position: fixed; }

body {
  background-color: transparent;
  background-image: none;
  background: none; }

.banner_de_secciones {
  padding-top: 30px;
  background-image: url(../assets/BANNER.png);
  background-repeat: no-repeat;
  z-index: 1;
  background-color: transparent;
  background-size: cover; }

#titulo_contacto {
  color: blue;
  height: 200px;
  line-height: 20px;
  text-align: left; }

#titulo_contacto {
  animation-duration: 3s;
  animation-name: tituloanimadosx; }

/*
@keyframes tituloanimadosx {

from {
    margin-left: 15%;
    width: 150%;
}
    
}
*/
#titulo_index {
  color: blue;
  height: 200px;
  display: flex;
  line-height: 20px;
  text-align: left;
  justify-content: center;
  padding-top: 10%; }

#titulo_index {
  animation-duration: 18s;
  animation-name: titulo_index_animado; }

/*
@keyframes titulo_index_animado {
from {
    color: cornflowerblue;
    width: 50%;
    margin-top: 10px;

}
    
}

*/
#boton_banner_principal_bt {
  animation-duration: 5s;
  animation-name: animacion_de_boton_principal; }

/*
@keyframes animacion_de_boton_principal     
{
    from {
        color: #a04ff4;
        margin-left: 100px;
        animation: girar;
    }
    
}
*/
#boton_principal_mas_informacion {
  align-items: center;
  align-content: center;
  display: contents; }

#titulo_porque_nosotros {
  color: blue;
  font-weight: 1000;
  padding-top: 30px; }

#porque_nosotros {
  background: #66a7e9;
  background: linear-gradient(180deg, #66a7e9 0%, #087bbc 87%, #147ec0 100%);
  padding-top: 70px;
  padding-bottom: 20px;
  padding-left: 10px;
  color: aqua; }

#porque_nosotros p {
  color: #fff; }

#nuestros_clientes {
  padding-top: 50px;
  padding-bottom: 30px; }

#ventaja_titulo {
  padding-top: 25px;
  color: #0034ee; }

#texto_de_banner {
  color: black;
  font-weight: 1000;
  text-shadow: 2px #999;
  align-content: right; }

p {
  font-family: open-sans; }

#banner_div {
  margin-bottom: 15px;
  padding-bottom: 15px; }

#nuestros_servicios {
  margin-bottom: 10px; }

#nuestros_servicios h2 {
  color: #0034ee; }

#acompanarte_paso_a_paso {
  background: #66a7e9;
  background: linear-gradient(180deg, #66a7e9 0%, #087bbc 87%, #147ec0 100%);
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px; }

#acompanarte_paso_a_paso h2 {
  color: white; }

#acompanarte_paso_a_paso li {
  color: white; }

#imagen_acompanarte_paso_a_paso {
  background-image: url(assets\wave.svg);
  background-color: transparent;
  background-repeat: no-repeat; }

#titulo_nuestros_Valores_humanos {
  color: blue;
  font-weight: 1000; }

#titulo_nuestros_clientes {
  color: blue;
  font-weight: 1000; }

.img-fluid {
  margin-top: 5px;
  margin-bottom: 5px; }

#nuestros_servicios .titulo_nuestros_servicios {
  color: #00008B; }

#nuestros_servicios p {
  font-family: 'Times New Roman', Times, serif; }

.titulo_nuestra_ventaja {
  color: #00008B; }

#conversemos {
  padding-top: 20px;
  margin-top: 20px; }

/* Bootstrap */
.btn btn-primary btn-lg {
  color: red; }

.titulo_secundario_seccion_servicios, .titulo_secundario_seccion_planes {
  color: #00008B; }

/* Bootstrap */
.btn btn-primary btn-lg {
  color: red; }

/* Responsive */
@media (max-width: 990px) {
  #whatsapp {
    display: none; }
  #imagen_de_banners {
    display: none; }
  #logo_web_peverdemarketing {
    display: none; }
  .img-thumbnail {
    max-width: 100%;
    height: 60%; } }

/* Menu */
header .navegacion #menu_principal a {
  color: black; }
  header .navegacion #menu_principal a:hover {
    color: #0583f6; }

/* Banner principal */
.banner_de_secciones {
  padding-top: 30px;
  margin-top: 60px; }
